* {
  /* border: 1px solid white; */
}

body {
  background-color: #242424;
}

h1 {
  color: #ffffff;
  font-size: 84px;
  margin: 0;
  margin-left: 15px;
}

.jersey-20-regular {
  font-family: "Jersey 20", serif;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 400 to 700 */

.instrument-sans-100 {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-variation-settings: "wdth" 100;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.navbutton-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  margin-right: 20px;
}

.navbutton {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}

#prevmem {
  border: 2px solid #ff5bc3;
  border-radius: 20px;
  padding: 5px 10px;
}

#moment-of-the-day {
  width: 96%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  height: 400px;

  background: #111111;
  border-radius: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  padding-top: 15px;
}

#moment-desc {
  height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 7.75fr 0.75fr;
  overflow: auto;
}

#moment-title {
  color: white;
  font-size: 45px;
  /* position: absolute; */

  margin: 0;
  margin-bottom: 15px;
}

#moment-story {
  font-style: italic;
  color: white;
  opacity: 0.6;
  font-size: 25px;
  margin: 0;
  /* margin-bottom: 130px; */
}

#moment-userdata {
  color: white;
  font-size: 25px;
  margin: 0;
}

#moment-img {
  width: 95%;
  height: 90%;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 15px;

  border-radius: 20px;
  border: 2px solid silver;
}

#todays-posts {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

#tp-header {
  display: flex;
  column-gap: 20px;
}

#tp-title {
  color: white;
  margin: 0;
  font-size: 45px;
}

#tp-post-btn {
  border: 2px solid #ff5bc3;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

#tp-container {
  display: flex;
  width: 100%;
  /* background-color: #111111; */

  margin-top: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 250px;
  min-height: 250px;
  max-height: 300px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #181818;
}

.post-img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 25px;
}

.post-likes {
  margin: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.745);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-post {
  width: 80%;
  max-width: 800px;
  height: 60%;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  border-radius: 20px;
  overflow: hidden;
  background-color: #111111;
  -webkit-box-shadow: 0px 0px 20px -4px rgba(209, 209, 209, 1);
  -moz-box-shadow: 0px 0px 20px -4px rgba(209, 209, 209, 1);
  box-shadow: 0px 0px 20px -4px rgba(209, 209, 209, 1);
}

.m-post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.m-post-details {
  padding: 15px;
  overflow: auto;
}

.m-post-username {
  color: white;
  font-size: 30px;
  margin-top: 0;
}

.m-post-caption {
  color: white;
  opacity: 0.8;
  font-style: italic;
  letter-spacing: 2px;
}

.m-post-like {
  width: 40px;
  text-align: center;
  border: #ff5bc3 solid 2px;
  border-radius: 15px;
  color: white;
  padding: 3px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.main-container {
  width: 94%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  padding: 20px;
  height: fit-content;
  border-radius: 25px;
  background-color: #181818;
  align-items: top;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

#time-select {
  display: flex;
  flex-direction: column;
}

#mem-title {
  color: white;
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
}

.opt {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  color: white;
  font-size: 18px;
  margin: 3px 0;
}

#time-select select {
  width: 70px;
  background-color: #242424;
  color: white;
  border-radius: 10px;
  text-align: center;
  border-color: #ff5bc3;
}

#memories-section {
  height: 98%;
  max-width: 724px;
  width: 98%;
  /* border: 2px solid white; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
  gap: 5px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.day {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0;
}

.memory {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
